@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #e9deff;
  --bg-main: #0b001a;
  --head-main: #e9deff;
  --main-container: #1e0044;
  --alt-container: #e9deff;
  --linear-g: linear-gradient(93deg, #8338ec 49.3%, #b923ff 87.76%);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background: var(--bg-main);
  color: var(--text);
  min-height: 100vh;
}

/* Header */
header {
  position: fixed;
  width: 100vw;
  padding: 1rem;
  border: 1px solid #c9a3ff35;
  background: var(--main-container);
  border-radius: 10px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav a {
  color: var(--text);
  border-radius: 10px;
  transition: all 255ms ease-in;
  font-size: 1.2rem;
  text-decoration: none;
  padding-inline: 0.8rem;
}

header nav a:hover {
  border-bottom: dotted rgb(178, 0, 178);
  color: rgb(199, 120, 255);
}

/* Shared Section Styles */
.about,
.blog,
.home {
  margin-top: 8rem;
  border-radius: 10px;
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-block: 6rem;
  align-items: center;
  justify-content: center;
  background: var(--main-container);
}

.about h1,
.blog h1,
.home h1 {
  padding-block: 0.2rem;
}

.about h2,
.blog h2,
.home h2 {
  font-weight: 400;
  padding-bottom: 1rem;
}

.about p,
.blog p,
.home p {
  text-align: center;
  color: #d9ccf0;
  max-width: 786px;
}

.blog a {
  text-decoration: none;
  color: var(--text);
}

/* CTA */
.cta {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 1rem;
}

.cta button {
  font-weight: 600;
  color: var(--text);
  border: solid var(--alt-container);
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  transition: background 200ms ease;
}

.cta button:hover {
  background: var(--main-container);
}

/* Footer */
footer {
  bottom: 0;
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: var(--linear-g);
}

.social {
  padding: 1rem;
}

.social a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--alt-container);
}

/* Tags */
.tags {
  background: var(--alt-container);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  margin-top: 6rem;
  flex-direction: row;
  max-width: fit-content;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 10px;
}

.tags .tag {
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: 0.5em;
  padding: 1em 2em;
  font-size: 1.15em;
}

.tags .tag a {
  transition: 250ms ease-in;
  text-decoration: none;
  color: #0b001a;
  width: 100%;
}

.tags .tag a:hover {
  text-decoration: underline;
  color: #b923ff;
}

.tags-dynamic {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--main-container);
  color: var(--text);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 10rem;

  p {
    font-size: 1.7rem;
  }

  li {
    padding: 0.2rem;
    list-style: none;
  }

  a {
    border: 1px dotted var(--alt-container);
    border-radius: 10px;
    color: var(--text);
    text-decoration: none;
  }
}

.posts {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background: var(--main-container);
}
