---
import "../styles/global.css";
const pageTitle = "404";
---

<title>{pageTitle}</title>
<div class="blur">
  <h1>The Page you're looking for does not exists!</h1>
  <h2>404 Not Found</h2>
  <p>Try checking the url or navigate back to home</p>
  <a href="/">Go Back!</a>
</div>

<style>
  body {
    margin: 0;
    height: 100vh;
    background: url("https://docs.astro.build/default-og-image.png") no-repeat
      center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blur {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 1rem;
    color: white;
  }

  h2 {
    color: rgb(0, 0, 0);
  }

  a {
    border: dotted;
    border-radius: 20px;
    padding: 1rem;
    text-decoration: none;
    color: rgb(224, 224, 0);
    font-size: 1.2rem;
    transition: 260ms ease-in-out;
    &:hover {
      color: rgb(45, 45, 0);
      background-color: yellowgreen;
    }
  }
</style>
