---
import "../styles/global.css";
const pageTitle = "404";
---

<title>{pageTitle}</title>
<div class="blur">
  <h1>The Page you're looking for does not exists!</h1>
  <h2>404 Not Found</h2>
  <p>Try checking the url or navigate back to home</p>
  <a href="/">Go Back!</a>
</div>
